@import '../styles/media.scss';

.mainContainer {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    padding: 2rem;
    min-height: 100vh;
    background-color: #f5f5f5;

    .mainSideRight {
        height: 100%;
        flex: 5;
        padding: 1rem 3rem;
        flex-direction: column;

        display: flex;

        gap: 2rem;
    }
}

.topActions {
    display: flex;
    gap: 2em;
    align-items: center;
}

.searchInput {
    background-color: #fff !important;
}

.avatar {
    border-radius: 50%;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cardsWrapper {
    display: flex;
    gap: 2rem;
    justify-content: space-between;

    > * {
        flex: 1;
    }
}

.card {
    background: #fff;
    padding: 2rem;
    border-radius: 1.25rem;
    width: 100%;
}

.smallChartWrapper {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.chartTitle {
    font-weight: 700;
    padding-bottom: 1rem;
    font-size: 1.2rem;

    display: flex;
    justify-content: space-between;
}

.meetingWrapper {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    height: 100%;
}

.moreCTA {
    font-weight: 400;
    font-size: 0.8rem;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    color: #858585;
}

.chart {
    width: 100%;
    max-height: 250px;
}

@include mobileTablet {
    .mainContainer {
        flex-direction: column;
        padding: 0;

        .mainSideRight {
            padding: 1rem;
        }
    }

    .cardsWrapper {
        flex-wrap: wrap;

        > * {
            min-width: 30%;
        }
    }

    .smallChartWrapper {
        flex-wrap: wrap;
    }

    .header {
        padding-left: 2rem;
        padding-top: 0.5rem;
    }

    .searchInput {
        display: none !important;
    }

    .card {
        padding: 1rem;
    }
}
