.meetingWrapper {
    border-left: 5px solid;
    padding: 0 1rem;
    small {
        line-height: 1.6;
        display: block;
    }
}

.title {
    font-weight: 700;
}

.time {
    font-size: 0.8rem;
    color: #999999;
}

.location {
    font-size: 0.8rem;
    color: #999999;
}
